/* -- GERAL -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: hsla(206, 10%, 14%);
    --subtext-color: hsla(355, 100%, 64%);

    font-size: 62.5%; /* 1rem = 10px */

}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {

    font-family: 'Monument Extended';
    font-size: 1.6rem;

    align-items: center;
    text-align: center;
    overflow: overlay;
    
}

.wrapper {
    width: 65.2rem;
    margin-inline: auto;
}

/* -- NAVIGATION -- */

nav {
    position: fixed;
    display: flex;

    width: 100vw;
    height: 9.6rem;
    bottom: 0rem;
    transition: 500ms;
    align-items: center;
    justify-items: center;
    
    background-color: var(--background-color);

    z-index: 100;
}


.navigation__menu--logo {
    display: flex;
    position: flex;

    padding-left: 5.8rem;
    padding-block: 2.8rem;

    justify-content: space-between;

}



.navigation__button--image {
    background: none;
    border: none;
    cursor: pointer;

    padding-right: 5.8rem;
}

.button__position {
    align-items: center;
}

.button {

    display: flex;
    position:relative;
    overflow: hidden;
    width: 30rem;
    height: 6rem;
    background-color: var(--background-color)
}

.button::before {

    content: "";
  position:absolute;
  margin:-2rem;
  width:2.8rem;
  height:4rem;
  transform:rotate(45deg);
  background-color:rgb(255, 255, 255); /* to see where it is */

  box-shadow: 0 0 0 250px var(--background-color);
}

.button::after {

    content: "";
  position:absolute;
  margin:-2rem;
  width:2.8rem;
  height:-8rem;
  transform:rotate(45deg);
  background-color:rgb(255, 255, 255); /* to see where it is */

  box-shadow: 0 0 0 250px var(--background-color);
}


.bvc { left: -15px }
.bevel, .content { border-width: 15px }
.bevel, .content { border-color: #efefef; border-style:solid; }

.bvc {
    width: 90%; /* width of overall box, variable or fixed */ 
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { height: 0px; width: 100%; }
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.no_bevel { height: 0px; width: 100%; border-bottom: 0; }

.content {
    background: #efefef url(http://placehold.it/2000x200/efefef) no-repeat;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
}

.principal__carrossel__habilidades--button{
    background-color: transparent;
    border: transparent;
}

