/* -- GERAL -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: hsla(206, 10%, 14%);
    --subtext-color: hsla(355, 100%, 64%);
    --cordotexto: white;
    font-size: 62.5%; /* 1rem = 10px */

    --nav-height: 9.1rem;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {

    font-family: 'Monument Extended';
    font-size: 1.6rem;

    align-items: center;
    text-align: center;
    overflow: overlay;
    
}

img {
    max-width: 100%;
}

.wrapper {
    width: 65.2rem;
    margin-inline: auto;
}

/* -- NAVIGATION -- */

nav {
    position: fixed;
    display: flex;

    width: 100vw;
    height: var(--nav-height);
    bottom: 0rem;
    transition: 500ms;
    align-items: center;
    justify-items: center;
    
    background-color: var(--background-color);

    z-index: 100;
}


.navigation__menu--logo {
    display: flex;
    position: flex;

    padding-left: 5.8rem;
    padding-block: 2.8rem;

    justify-content: space-between;

}

.navigation__button--image {
    background: none;
    border: none;
    cursor: pointer;

    padding-right: 5.8rem;
}

.button__position {
    align-items: center;
}

/* -- HOME -- */

.principal{

    padding-bottom: calc(4rem + var(--nav-height));
}

/* -- AGENTES -- */


.principal__agentessecundarios {

    padding-block: 4rem;
    margin-inline: auto;

    gap: 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

}

.principal__agentessecundarios p {
    padding-top: 2rem;
}

.principal__agentes--conteudo {    
    padding: 1rem;
    text-align: center;

    background: none;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .6rem;
}


